@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

:root { 
  --background-color: #151617;
  --font-title: 'Orbitron', sans-serif;
  --font-body: 'Share Tech Mono', monospace;
}

body { 
  background-color: var(--background-color);
  font-family: var(--font-body);
}
